$font-stack: 'DM Sans';
$light-color: hsl(180, 65%, 73%);
$bg-color: #f4f4f4;
$darker-bg-color: #e8e8e8;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
$dark-color: #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: $font-stack;
  line-height: 1.6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;

  ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
  }

  li {
    padding: 15px;
  }

  a {
    color: $dark-color;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }
}

img {
  max-width: 100%;
}

.cards {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    justify-content: 'center';
    cursor: default;
    transition: all 0.2s ease-in-out;
    max-width: 300px;
    @media screen and (max-width: 665px) {
      max-width: 100%;
    }
    padding: 24px;
    margin: 0 12px 12px 12px;
    text-align: left;
    background-color: $darker-bg-color;
    border-radius: 8px;
    @media screen and (min-width: 665px) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .review {
    justify-content: 'center';
    .profile-pic {
      margin-bottom: 16px;
      display: block;
      height: 80px;
    }
    .stars {
      max-width: 100px;
    }
    cursor: default;
    transition: all 0.2s ease-in-out;
    max-width: 500px;
    @media screen and (max-width: 665px) {
      max-width: 100%;
    }
    padding: 24px;
    margin: 0 12px 12px 12px;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    @media screen and (min-width: 665px) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.iphone {
  width: 400px;
}

section.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;

  h4 {
    font-size: 26px;
  }

  h1 {
    font-size: 45px;
  }

  p {
    margin: 0 30px 0 30px;
    font-size: 15px;
  }
}

button {
  transition: all 0.5s;
  cursor: pointer;
  background: $dark-color;
  border: 1px solid $dark-color;
  border-radius: 4px;

  padding: 16px 32px;
  width: fit-content;

  color: $bg-color;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  &:hover {
    background: $bg-color;
    color: $dark-color;
  }
}

section.about {
  display: flex;
  flex-direction: column;
  gap: 30px;

  header {
    margin: 0 30px 0 30px;
  }

  h2 {
    margin: 50px 0 20px 0;
  }

  p {
    margin-top: 30px;
  }
}

section.reviews {
  display: flex;
  flex-direction: column;
  gap: 30px;

  header {
    margin: 0 30px 0 30px;
  }

  h2 {
    margin: 50px 0 20px 0;
  }

  p {
    margin-top: 30px;
  }
}

.stevejobs {
  max-width: 70%;
  align-self: center;
}

.content {
  margin: 0 30px 0 30px;

  ul {
    list-style: none;
    margin: 50px 0 30px 0;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
