* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "DM Sans";
  line-height: 1.6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
}
nav li {
  padding: 15px;
}
nav a {
  color: #000000;
  text-decoration: none;
}
nav a:hover {
  color: #0e6cff;
}

img {
  max-width: 100%;
}

.cards {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}
.cards .card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.15);
  justify-content: "center";
  cursor: default;
  transition: all 0.2s ease-in-out;
  max-width: 300px;
  padding: 24px;
  margin: 0 12px 12px 12px;
  text-align: left;
  background-color: white;
  border-radius: 8px;
}
@media screen and (max-width: 665px) {
  .cards .card {
    max-width: 100%;
  }
}
@media screen and (min-width: 665px) {
  .cards .card:hover {
    transform: scale(1.1);
  }
}
.cards .review {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  justify-content: "center";
  cursor: default;
  transition: all 0.2s ease-in-out;
  max-width: 500px;
  padding: 24px;
  margin: 0 12px 12px 12px;
  text-align: left;
  background-color: white;
  border-radius: 8px;
}
.cards .review .profile-pic {
  margin-bottom: 16px;
  display: block;
  height: 80px;
}
.cards .review .stars {
  max-width: 100px;
}
@media screen and (max-width: 665px) {
  .cards .review {
    max-width: 100%;
  }
}
@media screen and (min-width: 665px) {
  .cards .review:hover {
    transform: scale(1.1);
  }
}

.iphone {
  width: 400px;
}

section.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;
}
section.main h4 {
  font-size: 26px;
}
section.main h1 {
  font-size: 45px;
}
section.main p {
  margin: 0 30px 0 30px;
  font-size: 15px;
}

button {
  transition: all 0.5s;
  cursor: pointer;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 16px 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f4f4f4;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
button:hover {
  background: #f4f4f4;
  color: #000000;
}

section.about {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section.about header {
  margin: 0 30px 0 30px;
}
section.about h2 {
  margin: 50px 0 20px 0;
}
section.about p {
  margin-top: 30px;
}

section.reviews {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
section.reviews header {
  margin: 0 30px 0 30px;
}
section.reviews h2 {
  margin: 50px 0 20px 0;
}
section.reviews p {
  margin-top: 30px;
}

.stevejobs {
  max-width: 70%;
  align-self: center;
}

.content {
  margin: 0 30px 0 30px;
}
.content ul {
  list-style: none;
  margin: 50px 0 30px 0;
}
.content ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */